{% extends "base.html" %}
{% block content %}

    <section class="py-5 text-center text-white rounded-4 shadow"
         style="background: linear-gradient(135deg, #667eea, #764ba2);">
  <div class="container py-5">
    <h1 class="display-3 fw-bold">
      Welcome to SocialBlog
    </h1>

    <p class="lead mt-3 mb-4">
      A place to write, share, and discover stories from people around the world.
    </p>

    <a href="#" class="btn btn-light btn-lg px-4 me-2">
      Create Post
    </a>

    <a href="#" class="btn btn-outline-light btn-lg px-4">
      View Blogs
    </a>
  </div>
</section>


{% endblock %}