{% extends "base.html" %}
{% block content %}
<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-9">

      <div class="p-5 rounded-4 shadow-sm bg-light text-center">
    

        <h2 class="fw-bold mb-3">
          About Our Social Blog
        </h2>

        <p class="lead text-muted mb-4">
          SocialBlog is a friendly place where people can share their thoughts, ideas, stories, and experiences with others.
        </p>

        <p class="mb-4">
          Our goal is to create a simple and welcoming online space where users can write blog posts, read content from other people, and connect through meaningful conversations. Whether you want to share personal stories, learning experiences, opinions, or helpful tips, this blog gives you a space to express yourself.
        </p>

        <p class="text-muted mb-0">
          This project is also built to practice web development using Flask, templates, routes, user authentication, and database management.
        </p>
      </div>

    </div>
  </div>
</section>



{% endblock %}